<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    
  <title>Reverse Geocoding Directions</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>
    <h1>Reverse Geocoding Directions</h1>
    <div align="center">
        <form method="get" action="/">
            <button id="get_file" type="submit">upload another file</button>
        </form>        
    </div>
</body>
</html>